/*--------------*/
p {
	padding-bottom: 10px;
}
body {
	font-family: Verdana, Tahoma, Arial, Helvetica;
	color: #044;
   background: url("mp-bg-footer.png") no-repeat center top, url(background5.png);
}
#header {
   background: url(background5.png);
}
#header-bottom {
   background: url(background4.png);
   height: 4px;
}
#primary {
    float: left;
    width:24%;
}
#content {
    float:left;
    width:55%;
}
#secondary {
    float:left;
    width:15%;
}
#footer {
    clear:both;
    background: 
    	url(background3_2px.png) repeat-x,
    	url("mp-bg-footer2.png") no-repeat center top, 
    	url(background4.png) repeat;
}
#footer-top {
    clear:both;
    background: url(background3.png);
    height: 2px;
}
img.biglogo {
	padding-top: 30px; 
	padding-bottom: 20px; 
	position: relative; 
	left: -197px;
}
h3.footer-title {
	padding-bottom: 1em;
}
div.download {
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
	color: #FFF;
	background: #2BB url(background3.png);
	margin-bottom: 0.3em;
	padding: 0.4em;
}
.lighter {
	color: #4AA;
}