/*--------------*/
p {
	padding-bottom: 10px;
}
body {
	font-family: 'Segoe UI', Tahoma, Verdana, Arial, Helvetica;
	color: #044;
   background: url(img/mp-bg-footer.png) no-repeat center top, url(img/background5.png);
}
#header {
   background: url(img/background5.png);
}
#header-bottom {
   background: url(img/background4.png);
   height: 4px;
}
#primary {
    float: left;
    width:24%;
}
#content {
    float:left;
    width:55%;
}
#secondary {
    float:left;
    width:15%;
}
#footer {
    clear:both;
    background: 
    	url(img/background3_2px.png) repeat-x,
    	url(img/mp-bg-footer2.png) no-repeat center top,
    	url(img/background4.png) repeat;
}
img.biglogo {
	padding-top: 30px; 
	padding-bottom: 20px; 
	position: relative; 
	left: -197px;
}
h1, h2, h3, h4, h5 {
	padding-bottom: 0.5em;
}
a.button {
	text-decoration: none;
	color: #033;
}
a.button:hover {
	text-decoration: none;
	color: #033;
}
.download {
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #266;
	background: 
    	url(img/mp-bg-footer2.png) no-repeat center top, 
    	url(img/background3_2px.png) repeat-x bottom,
		#2BB url(img/background7.png);
	margin-bottom: 0.3em;
	padding: 0.4em;
}
.download:hover {
	color: #FFF;
	background: 
    	url(img/background3_2px.png) repeat-x bottom,
		#4DD url(img/background7.png);
}
.lighter {
	color: #4AA;
}
.dark-bevel {
	color: #399;
	text-shadow: 0px 1px 0px #044;
}
.light-bevel {
	text-shadow: 0px 1px 0px #9EE;
}
.section {
	background: url(img/background8.png) center top repeat-x; 
	margin-top: 1em;
	padding-top: 2em;
	margin-bottom: 2em;
}
a {
	text-decoration: none;
	border-bottom: 1px solid #ADD;
	color: #033;
}
a:hover {
	text-decoration: none;
	color: #044;
	border-bottom: 1px solid #044;
}
a:visited {
	color: #077;
}
.footer a {
	border: none;
}
.footer a:hover {
	color: #044;
}